body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3F5FC;
  display: flex;
  justify-content: space-between;

}

.logo {
  padding-top: 2%;
}



.textarea-container {
  margin-top: 5%;
  width: 70%;
  height: 100%;
  margin-right: 2%;
  border: none;

}

.textarea-container textarea {
  width: 100%;
  height: 300px;
  background-color: #F3F5FC;
  resize: none;
  border: none;
}

#mensaje {
  padding-top: 10%;
}

::placeholder {
  color: blue;
  font-size: large;
}

#resultado {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  resize: none;

}


.action-buttons {
  display: flex;
  justify-content: space-between;
}

#info {
  margin-top: 2%;
  margin-right: 1%;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 100px 1px 100px 0px;

  background-color: white;
}

#info img {
  width: 80%;

}

#info p {
  margin-top: 10px;
  padding-left: 4%;

}

.hidden {
  display: none;
}

#encrip {
  border-radius: 12px;
  width: 210px;
  height: 30px;
}

#desencrip {
  border-radius: 12px;
  width: 210px;
  height: 30px;
  margin-right: 150px;
}